.ad-banner {
  display: flex; /* ใช้ flexbox */
  justify-content: center; /* จัดให้ภาพอยู่กลาง */
  align-items: center; /* จัดให้ภาพอยู่กลางในแนวตั้ง */
  width: 100%; /* ให้ AdBanner มีความกว้าง 100% */
  overflow: hidden; /* ซ่อนส่วนเกิน */
}

.ad-banner img {
  max-width: 100%; /* ให้ภาพปรับขนาดตามความกว้าง */
  height: auto; /* ให้ความสูงปรับตามอัตราส่วน */
}

/* เพิ่ม media queries เพื่อปรับแต่งการแสดงผลสำหรับหน้าจอเล็ก */
@media (max-width: 768px) {
  .ad-banner {
    aspect-ratio: 4 / 3; /* เปลี่ยนอัตราส่วนสำหรับหน้าจอเล็ก */
  }
}
