.Contack-button {
    background-color: var(--nav-color);
    color: var(--text-color);
    border: 0;
    padding: 0;
    margin: 0;
    width: 300px;
    height: 50px;
}

.Contack-button:hover {
    background-color: var(--text-color);
    color: var(--text-color);
}

@media (max-width: 768px) {
    .Contact-button {
        width: 80%;
        /* ให้ปุ่มกว้าง 80% ของหน้าจอ */
        max-width: 300px;
        /* ไม่เกิน 300px */
    }

    /* Adjust text size for smaller screens */
    p {
        font-size: 16px;
        /* ขนาดฟอนต์เล็กลง */
    }
}