.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--nav-color);
  color: var(--text-color);
  z-index: 1000;
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.115);
}

.navbar-logo {
  display: flex;
  /* ทำให้โลโก้อยู่ในแนวเดียวกับปุ่มเมนู */
  align-items: center;
}

.navbar-logo a {
  color: var(--text-color);
  font-size: 1.5rem;
  text-decoration: none;
}

.menu-icon {
  display: none;
  /* ซ่อนปุ่มเมนูไว้ก่อน */
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--text-color);
  margin-left: auto;
  /* ดันปุ่มไปด้านขวาสุด */
}

.navbar-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin: 0 1rem;
}

.navbar-links a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1rem;
}

.navbar-links a:hover {
  color: var(--hover-color);
}

.theme-dropdown-container {
  margin-left: 0;
  background-color: transparent;
  color: var(--text-color);
}

.theme-dropdown-container select {
  background-color: transparent;
  /* พื้นหลังของ select เป็นใส */
}

.logout {
  background-color: transparent;
  border: none;
  color: var(--bg-color);
  cursor: pointer;
}

.logout:hover {
  color: var(--nav-color);
  background-color: var(--bg-color);
}

/* Media query for responsive design */
@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    /* ให้ navbar จัดเรียงในแนวนอน */
    justify-content: space-between;
    /* จัดให้อยู่ซ้ายและขวาสุด */
  }

  .menu-icon {
    display: block;
    /* แสดงปุ่มเมนู */
    color: var(--text-color);
    margin-left: auto;
  }

  .navbar-links {
    flex-direction: column;
    display: none;
    /* ซ่อนเมนูเริ่มต้น */
    position: absolute;
    /* ใช้ absolute เพื่อให้เมนูแสดงแบบเต็มจอ */
    top: 60px;
    /* ตำแหน่งของเมนูใต้ Navbar */
    left: 0;
    width: 100%;
    /* กำหนดความกว้างให้เต็ม */
    background-color: var(--nav-color);
    /* พื้นหลังเมนู */
    padding: 0;
    z-index: 999;
    /* ให้เมนูอยู่บนสุด */
  }

  .navbar-links.active {
    display: flex;
    /* แสดงเมนูเมื่อคลิกที่ปุ่ม */
  }

  .navbar-links li {
    margin: 0.5rem 0;
    text-align: center;
    width: 100%;
  }

  .theme-dropdown-container {
    margin-left: 0;
    background-color: transparent;
    color: var(--off-nav-color);
  }

  .theme-dropdown-container select {
    background-color: transparent;
    /* พื้นหลังของ select เป็นใส */
  }

  .logout {
    margin: 0;
    width: 100%;
  }
}