.row-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0px;
  flex-wrap: wrap; /* เพิ่มการจัดเรียงใหม่ */
  overflow: hidden;
}

.left-content,
.right-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.left-content {
  text-align: center;
}

.right-content img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.reverse {
  flex-direction: row-reverse;
}

/* Responsive styles */
@media (max-width: 768px) {
  .row-container {
    flex-direction: column; /* เปลี่ยนให้แสดงในแนวตั้ง */
  }

  .left-content,
  .right-content {
    width: 100%; /* ให้ขนาดเต็มเมื่อหน้าจอเล็ก */
    padding: 10px;
  }
}
