pink {
    color: #F2789F;
    color: #FEE3EC;
    color: #F9C5D5;
    color: #F9C5D5;
    color: #ef004c;
    color: #f9f9f9;
    color: #eb6992;
}
dark {
    color: #272829;
    color: #FFF6E0;
    color: #61677A;
    color: #61677A;
    color: #001327;
    color: #61677A;
    color: #111d2a;
}
orange {
    color: #ED9455;
    color: #FFFBDA;
    color: #FFEC9E;
    color: #FFEC9E;
    color: #e86000;
    color: #f9f9f9;
    color: #e8955a;
}

test {
    color: rgb(153, 153, 153);
}

